{% extends "app/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">This is a public linited company having its registered and corparate office at Nairobi City in Nairobi County,Kenya. The company was incorporated in the year 2023 and production commenced in 2024. This is one of the fastest growing Public Listed Companies in Nairobi</p>
    </div>
</div>
{% endblock main-content %}